.App {
  text-align: center;
}

.App-logo {
  width: auto;
  height: 200px;
}

.App-gif {
  width: 500px;
  height: 200px;
  border-radius: 5px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: #FFCE47;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.0rem;
}

p {
  font-size: 1.4rem;
  margin: 20px 0;
}

.lrg-qt {
  font-weight: bold;
}

.sm-qt{
  font-size: 1.0rem;
}

.App-section {
  background-color: #FFCE47;
  padding: 20px 10%;
}

.App-btn {
  font-size: 1.6rem;
  background-color: #222;
  color: #FFCE47;
  padding: 10px 0;
  border-radius: 5px;
}

.App-btn:hover {
  cursor: pointer;
}

.hide {
  display: none;
}