/* GENERAL FONTS */

.App {
  text-align: center;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.0rem;
}

p {
  font-size: 1.4rem;
  margin: 20px 0;
}

.lrg-qt {
  font-weight: bold;
}

.sm-qt{
  font-size: 1.0rem;
}

/* TOGGLE CLASSES */

.hide {
  display: none;
}

/* APP SECTIONS*/

.App-logo {
  width: auto;
  height: 150px;
}

.App-gif {
  width: 500px;
  height: 200px;
  border-radius: 5px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: #FFCE47;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.Question-header {
  padding-top: 0;
}

.App-section {
  background-color: #FFCE47;
  padding: 20px 10%;
}

/* BUTTONS */

.App-btn {
  font-size: 1.6rem;
  background-color: #222;
  color: #FFCE47;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

/* ANSWERS */

.answerOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.answerOption {
  font-size: 1.2rem;
  background-color: #222;
  color: #FFCE47;
  margin: 1%;
  padding: 10px 0;
  border-radius: 5px;
  width: 48%;
}

.radioCustomButton {
  display: none;
}

.radioCustomLabel {
  cursor: pointer; 
}

/* RESULTS */

.result-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-btn {
  margin-bottom: 2%;
  width: 500px;
}

/* Hufflepuff */

.Hufflepuff .Result-header {
  background-color: #222;
  color: #FFCE47;
}

.Hufflepuff .App-section {
  background-color: #FFCE47;
  color: #222;
}

.Hufflepuff .result-btn {
  background-color: #222;
  color: #FFCE47;
}

/* Gryffindor */

.Gryffindor .Result-header {
  background-color: #222;
  color: #CC2024;
}

.Gryffindor .App-section {
  background-color: #CC2024;
  color: #FFCE47;
}

.Gryffindor .result-btn {
  background-color: #222;
  color: #FFCE47;
}

/* Ravenclaw */

.Ravenclaw .Result-header {
  background-color: #222;
  color: #029DDA;
}

.Ravenclaw .App-section {
  background-color: #029DDA;
  color: #694939;
}

.Ravenclaw .result-btn {
  background-color: #222;
  color: #B8916D;
}

/* Slytherin */

.Slytherin .Result-header {
  background-color: #222;
  color: #259746;
}

.Slytherin .App-section {
  background-color: #259746;
  color: #C2C3C3;
}

.Slytherin .result-btn {
  background-color: #222;
  color: #C2C3C3;
}