body {
  margin: 0;
  padding: 0;
  font-family: 'New Rocker', cursive;
  font-size: 62.5%;
  background-color: #222;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'New Rocker', cursive;
  margin: 0;
}

p, a, ul, ol, li {
  font-family: 'Charm', cursive;
  margin: 0;
}
